<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NewsReels</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb623788458503686</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>open</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>m.bullets.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>deepLink</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google_staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.709274277066-s297ov3fk0444eul8bedmubl4h98kpkk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.883200977297-v760ap6sa48thpd1r4u5pf1kpbtfn0ia</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>623788458503686</string>
	<key>FacebookDisplayName</key>
	<string>app.newsinbullets</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://newsin.bullets.app</string>
		<string>https://m.bullets.app</string>
		<string>https://view.newsreels.app</string>
		<string>https://watch.newsreels.app</string>
		<string>https://read.newsreels.app</string>
		<string>https://m.newsreels.app</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2352871460867862~1571973523</string>
	<key>GADNativeAdValidatorEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>linkedin</string>
		<string>fb-messenger-api</string>
		<string>whatsapp</string>
		<string>instagram-stories</string>
		<string>wechat</string>
		<string>fbauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>To capture the news as it happens and directly upload from the app, Newsreels needs access to your camera.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face Authentication</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The app will use your location to enhance certain features-like location based content. Improve your experience including wait time accurancy and provide updated information or offers regarding newsreels Library</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The app will use your location to enhance certain features-like location based content. Improve your experience including wait time accurancy and provide updated information or offers regarding newsreels Library</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app will use your location to enhance certain features-like location based content. Improve your experience including wait time accurancy and provide updated information or offers regarding newsreels Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload your own news content and other media, Newsreels needs access to your photo library.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This allows Newsreels to provide you with the most relevant ads and content possible.</string>
	<key>SCSDKClientId</key>
	<string>1de76977-dce5-4cbf-9316-952e3082396c</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FontsFree-Net-Gilroy-ExtraBold.ttf</string>
		<string>oswald-bold.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Light</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Muli Regular.otf</string>
		<string>MuliBlack.otf</string>
		<string>MuliBold.otf</string>
		<string>MuliExtraBold.otf</string>
		<string>MuliSemiBold.otf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Martel-Bold.ttf</string>
		<string>Martel-Regular.ttf</string>
		<string>Sarala-Bold.ttf</string>
		<string>Sarala-Regular.ttf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-Black.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-Extrabold.otf</string>
		<string>ProximaNova-Thin.otf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Thin-BETA.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-BoldItalic.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraboldItalic.ttf</string>
		<string>Inter-ExtraLightItalic.ttf</string>
		<string>Inter-Italic.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-MediumItalic.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
